/* Reset defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family:'Times New Roman', Times, serif;
  background-color: #f5f6fa;
  color: #111;
  padding: 20px 40px;
}

/* Header/Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

/* Logo */
.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

/* Navigation Links */
nav a.nav-link {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 0.95rem;
  transition: all 0.3s ease;
}

/* Active Page Highlight */
nav a.nav-link.active {
  background-color: black;
  color: white;
}

/* Hover Effect */
nav a.nav-link:hover {
  background-color: #ddd;
}

.project-button {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.project-button:hover {
  background-color: #333;
}

.project{
    margin-bottom: 100px;
}
/* Main content */
main {
  margin-top: 40px;
}

main h1 {
  font-size: 5rem;
  margin-bottom: 10px;
}

main h2{
    font-size: 2rem;
}

main h3{
    font-size: 1.5rem;
}


main p {
  font-style: normal;
  font-size: 1.2rem;
  text-indent: 20px
}
